<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>

<body>
    <h1>Budget Tracker</h1>
    <div class="sections">
        <section>
            <div class="totals">
                <div class="total_items">
                    <h4>Total Budget:</h4>
                    <p class="total_budget">${{budgetAmount}}</p>
                </div>
                <div class="total_items">
                    <h4>Total Expenses:</h4>
                    <p class="total_expense">$00</p>
                </div>
                <div class="total_items">
                    <h4>Remaining:</h4>
                    <p class="remaining">$00</p>
                </div>
            </div>
            <div class="form_section">
                <h2>Input Budget</h2>
                <form action="{{url_for('submit')}}" name="budget" method="POST" class="form">
                    <input type="hidden" name="budget" value="budget">
                    <input type="number" name="budget_amount" placeholder="Enter Monthly Budget" class="form_input_a">
                    <button type="submit" name="budget" class="form_submit">Submit</button>
                </form>
            </div>
            <div class="form_section">
                <h2>Input Expense</h2>
                <form action="{{url_for('submit')}}"name="expense" method="POST" class="expense_form">
                    <input type="hidden" name="budget" value="expense">
                    <input type="text" name="expense_name" placeholder="Enter Expense Name" class="form_input_b">
                    <div class="form">
                        <input type="number" name="expense_amount" placeholder="Enter Expense Amount"
                            class="form_input_a">
                        <button type="submit" name="expense" class="form_submit">Submit</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="display_expense">
            <h2>Expenses</h2>
            <div class="expense_table">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>{{eName}}</td>
                        <td>${{eCost}}</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>

</body>
<!-- By Cirill Dalangin and Ray Lu -->

</html>
